<div>
  <h1>{{title}}</h1>

  <div
    class="relative grid lg:grid-cols-6 sm:grid-cols-4 xl:w-[1200px] md:w-full lg:min-h-[400px] md:min-h-full m-auto mt-12">
    @for (item of countriesAndCapitalsArray(); track item) {
    <button type="button" class="m-4 px-4 py-2 rounded duration-300 ease-in-out select-none"
      [class]="item === (currentChoice()) ? 'bg-blue-500 text-white' : 'bg-white hover:bg-stone-400 hover:text-white'"
      [class.invisible]="matchedArray().includes(item)" (click)="onClick(item)"
      [class.is-true]="matchedArray().includes(item)" [class.is-wrong]="wrongArray().includes(item)">{{item}}</button>
    }
    <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2"
      [class.hidden]="!isLoading()">
      <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    class="font-bold text-4xl text-slate-500 rounded-full p-2 border-solid border-4 border-slate-600 w-20 h-20 flex items-center justify-center m-auto mt-8 bg-white"
    [class]="coundown() < 10 ? 'text-red-500': ''" [class.hidden]="displayPopup() || !coundown()">
    {{coundown()}}
  </div>
</div>

<div id="select-modal" tabindex="-1" [class.hidden]="!displayPopup()"
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-blur-md">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <div class="mb-4 text-4xl text-center font-bold uppercase"
          [class]="message()=='Win' ? 'text-green-500' : 'text-red-500'">
          {{message()}}</div>
        <p class="text-gray-500 dark:text-gray-400 mb-4">Select your start level:</p>
        <ul class="space-y-4 mb-4">
          <li>
            <input type="radio" id="job-1" name="job" value="job-1" class="hidden peer" required>
            <label for="job-1" (click)="initLevel('hard')"
              class="inline-flex items-center justify-between w-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500">
              <div class="block">
                <div class="w-full text-lg font-semibold text-red-500">Hard level</div>
                <!-- <div class="w-full text-gray-500 dark:text-gray-400">Flowbite</div> -->
              </div>
              <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-red-500" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </label>
          </li>
          <li>
            <input type="radio" id="job-2" name="job" value="job-2" class="hidden peer">
            <label for="job-2" (click)="initLevel('easy')"
              class="inline-flex items-center justify-between w-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500">
              <div class="block">
                <div class="w-full text-lg font-semibold text-green-500">Easy level</div>
                <!-- <div class="w-full text-gray-500 dark:text-gray-400">Alphabet</div> -->
              </div>
              <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-green-500" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </label>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>